.carousel_wrapper {
    background: #1b0124;
    width: 70%;
    border-radius: 10px;
    display: flex;
    height: 18rem;
    margin: auto;
    overflow: hidden;
}

.carousel_container_output {
    margin: auto;
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.carousel_img_container {
    margin: auto;
}

.carousel_data_container {
    width: 80%;
    text-align: left;
    margin: auto;
}

.carousel_img {
    height: 10rem;
    width: fit-content;
    margin: auto;
}

@media screen and (min-width: 760px) {
    .carousel_img {
        height: 20rem;
    }
    .carousel_wrapper {
        height: 26rem;
    }
}

@media screen and (min-width: 1000px) {
    .carousel_container {
        width: 50%;
    }
}
