.spinner_wrapper {
    width:150px;
    height: 105px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.heading {
    width: 100%;
}

.spin_title {
    text-align: center;
    font-style: italic;
    color: black;
}

.ball_container {
    display: flex;
    justify-content: center;
}

.ball_1 {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: rgb(60, 180, 0);
}

.ball_2 {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ff1f06;
}

.ball_3 {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: rgba(9, 2, 222, 0.982);
}

.ball_4 {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: rgb(60, 180, 0);
}