.month_select_wrapper {
    display: flex;
    width: 100%;
}

.select_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 10rem;
    align-items: center;
}

.select_label {
    color: white;
    font-size: 1.25rem;
    padding: 15px;
}

.select_field {
    height: 40px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
}

.month_select_nav {
    margin-top: 15px;
    width: 50%;
    align-items: end;
    display: flex;
    flex-direction: column;
}
