.login_register_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(#2a006e, #2a2929 65%);
}

.login_register_input {
    margin-top: 20px;
    border-radius: 7px;
}

.login_register_label {
    margin-top: 20px;
}

.login_register_button {
    margin-top: 15px;
    width: fit-content;
    border-radius: 7px;
    background-color: #ff1f06;
    color: white;
    padding: 4px;
}