.demo_wrapper {
    display: flex;
    margin-top: 30px;
}

.fitness_tracker_container {
    width: 50%;
    text-align: center;
}

.fitness_data_container {
    text-align: center;
    width: 100%;
}

.emoji {
    font-size: 60px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px black;
    width: 50%;
    text-align: end;
    background: linear-gradient(45deg, #3196e8, transparent);
}

.pic_demo_header {
    background: #2a006e;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    margin: auto;
    width: fit-content;
}

.pic {
    height: 20rem;
    border: 5px solid #049c01;
    border-radius: 20px;
}

@media screen and (max-width: 575px) {
    .pic {
        height: 8rem;
    }
}

@media screen and (max-width: 625px) {
    .demo_wrapper {
        flex-direction: column;
    }
    .fitness_tracker_container {
        width: 100%;
    }
    .fitness_data_container {
        width: 100%;
    }
}
