h3 {
    color: white;
    font-style: italic;
    text-align: center;
}

.carousel_container {
    display: flex;
    margin: auto;
}

.carousel_button_container {
    margin: auto;
}

.carousel_button {
    pointer-events: none;
}