.carousel_container {
    display: flex;
    margin: auto;
}

.carousel_button_container {
    margin: auto;
}

.carousel_button {
    pointer-events: none;
}

.chevron_style {
    background: none;
    border: none;
    color: #fff
}