.macro_viewer_wrapper {
    height: 100vh;
    background: linear-gradient(#2a006e, #2a2929 75%);
    display: flex;
    flex-direction: column;
}

.doughnut_container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* #F46523 orange */
/* #2a006e blue */