.container {
    width: 100%;
    height: 6.5rem;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background: #1b0124;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    color: #fff;
}

.login_register_links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav_logo {
    border-radius: 100%;
    height: 6rem;
    margin-left: 10px;
}

a {
    margin-right: 10px;
}

@media screen and (max-width: 575px) {
    .container {
        height: 2rem;
    }
    .nav_logo {
        height: 1.9rem;
    }
    .login_register_links {
        font-size: 6px;
    }
    .nav_link {
        background: #ff1f06;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
        
        width: fit-content;
    }
}